Proyecto Desktop/Cliente/Service References/ws.Producto/Productos1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SOAPServices.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SOAPServices.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProducto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Producto" nillable="true" type="tns:Producto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProducto" nillable="true" type="tns:ArrayOfProducto" />
  <xs:complexType name="Producto">
    <xs:sequence>
      <xs:element minOccurs="0" name="codCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codProducto" type="xs:int" />
      <xs:element minOccurs="0" name="codTipoProducto" type="xs:int" />
      <xs:element minOccurs="0" name="cuotas" type="xs:int" />
      <xs:element minOccurs="0" name="fechaRegistro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaVenc" type="xs:dateTime" />
      <xs:element minOccurs="0" name="monto" type="xs:double" />
      <xs:element minOccurs="0" name="montoPendiente" type="xs:double" />
      <xs:element minOccurs="0" name="seguroBien" type="xs:double" />
      <xs:element minOccurs="0" name="seguroDes" type="xs:double" />
      <xs:element minOccurs="0" name="tasaInteres" type="xs:double" />
      <xs:element minOccurs="0" name="tipoMoneda" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Producto" nillable="true" type="tns:Producto" />
</xs:schema>